#root {
  max-width: 1280px;
  text-align: center;
}

.logo {
  height: 6em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* font title */

.logo {
  padding-top: 15px;
  width: 97%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-right: 25px;
}

.nacho2 {
  padding-top: 5%;
}
.nacho1 {
  width: 67%;
  height: auto;
  display: block;
  margin-left: 0;
  padding-right: 40%;
  padding-left: 5%;
}

@font-face {
  font-family: justanotherhand;
  src: url('././justanotherhand-regular-webfont.woff2') format('woff2')
}

.baka {
  margin-top: 5%;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  background-color:#F1CB9E;
  color: #3f2b12;
  border-radius: 5px;
  border: 2px;
  cursor: pointer;
  font-family: justanotherhand;
  font-size: 50px;
  padding-right: 15%;
  padding-left: 15%;
}

.bubble {
  width: 70%;
  height: auto;
  padding-left: 25%;
}

a:baka{
  background-color:blueviolet;
  font-family: justanotherhand;
}

.card {
  
}


.FirstPage {
  height: 852px;
  width: 393px;
  background-color: #F4E7E1;
}

ul {
  overflow: hidden;
}

li {
  float: left;
}

li a {
  color: black;
  text-align: center;
  text-decoration: none;
}

h3 {
  flex-direction: left;
}

.ingredientpages {
  background-color: #F4E7E1;
  width: 393px;
  height: 852px ;
}

.ingredients-container {


}

.question-text {
  width: 336px;
  height: 87px;
  flex-shrink: 0;
  color: #000;
  font-family: Yaldevi Colombo SemiBold;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 17px; 
}

.option {

}


.idealcookieText {
  width: 147px;
  height: 31px;
  flex-shrink: 0;
  color: #000;
  font-family: Yaldevi Colombo SemiBold;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}