/* typsnitt */

@font-face {
  font-family: justanotherhand;
  src: url('././justanotherhand-regular-webfont.woff2') format('woff2')
}

@font-face {
  font-family: yaldevi;
  src: url('Yaldevi.woff') format('woff');
}

/* ?? */

#root {
  max-width: 1280px;
  text-align: center;
}

/* first page */

.logo {
  width: 97%;
  height: auto;
  display: block;
}

.nacho2 {
  padding-left: 30%;
  height: 15vw;
}
.nacho1 {
  width: 70%;
  height: auto;
  display: block;
  margin-left: 0;
  padding-right: 40%;
  padding-left: 3%;
}

.nachoBubble, .nachoBubble2 {
  padding-top: 8%;
  width: 93%;
  height: auto;
}

.baka, .bakaIgen, .bakaEnTill {
  margin-top: 5%;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  background-color:#F1CB9E;
  color: #3f2b12;
  border-radius: 5px;
  border: 2px;
  cursor: pointer;
  font-family: justanotherhand;
  font-size: 60px;
  padding-right: 15%;
  padding-left: 15%;
  padding-top: 2%;
  box-shadow: 3px 3px 5px rgb(122, 122, 122);
  
}

.bubble {
  margin-left: 25%;
  font-family: yaldevi;
  position: relative;
  font-size: 18px;
  line-height: 24px;
  width: 60%;
  background: #fff;
  border-radius: 40px;
  padding: 24px;
  text-align: center;
  color: #000;
}

.bubble-bottom-left:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 24px solid #fff;
  border-right: 12px solid transparent;
  border-top: 12px solid #fff;
  border-bottom: 20px solid transparent;
  left: 32px;
  bottom: -24px;
}




.FirstPage {
  height: 852px;
  width: 393px;
  background-color: #F4E7E1;
}

ul {
  overflow: hidden;
}

li {
  float: left;
}

li a {
  color: black;
  text-align: center;
  text-decoration: none;
}

h3 {
  flex-direction: left;
}

.ingredientPages {
  background-color: #F4E7E1;
  width: 393px;
  height: 852px ;
}

.ingredients-container {


}

.question-text {
  width: 336px;
  height: 87px;
  flex-shrink: 0;
  color: #000;
  font-family: Yaldevi Colombo SemiBold;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 17px; 
}

.idealcookieText {
  width: 147px;
  height: 31px;
  flex-shrink: 0;
  color: #000;
  font-family: Yaldevi Colombo SemiBold;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#progressBar{
  display: flex; 
  align-items: center;
  justify-content: center;
}

#myProgress {
  width: 45%;
  background-color: #ffffff;
  position: fixed; 
  top: 0px;
  display: flex; 
}

#myBar {
  width: 20%;
  height: 30px;
  background-color: #04AA6D;
  top: 0px;
}
  /* Result page */

.result {
  background-color: #F4E7E1;
  width: 393px;
  height: 852px ;
}

.homeButton, .helpButton{ 
  float:left; 
  display:inline; 
  width: 49%;
}
.helpButton button { 
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;              /* Diameter of the circle */
  height: 50px;
  background-color: #866F85;   
}
.navigation-button-right{
  background: linear-gradient(
    -135deg,
    transparent 22px,
    #9A7D63 22px,
    #9A7D63 100%
)
top right (
linear-gradient(
    -45deg,
    transparent 22px,
    #9A7D63 22px,
    #9A7D63 100%
)
bottom right;
background-size: 100% 50%;
background-repeat: no-repeat;
)
}


.navigation-button-left{
background: linear-gradient(
  135deg,
  transparent 22px,
  #9A7D63 22px,
  #9A7D63 100%
)
top right,
linear-gradient(
  45deg,
  transparent 22px,
  #9A7D63 22px,
  #9A7D63 100%
)
bottom right;
background-size: 100% 50%;
background-repeat: no-repeat;
}